<div class="p-2">
    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Korisnik</th>
                    <th>Natjecanje</th>
                    <th>Trenutni rezultat</th>
                    <th>Promijeni bodove</th>
                </tr>
            </thead>
            <!-- body -->
            <tbody>

                {{#each result.items}}
                <tr>
                    <th>{{this.id_application}}</th>
                    <td>{{this.id_user}}</td>
                    <td>{{this.id_competition}}</td>
                    <td>{{this.points}}</td>
                    <td>
                        <form method="post" action="/competitions/points_change" class="flex flex-col gap-2">
                            <div class="flex flex-col">
                                <label>Bodovi</label>
                                <input id="points" type="number" name="points" value="{{this.points}}" class="bg-neutral"/>
                                <input type="hidden" name="id" value="{{this.id_application}}"/>
                                {{> form_buttons }}
                            </div>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>